@font-face {
  font-family: 'sinkin_sans700_bold';
  src: url('/fonts/sinkinsans-700bold-webfont.woff2') format('woff2'),
       url('/fonts/sinkinsans-700bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cabinregular';
  src: url('/fonts/cabin-regular-webfont.woff2') format('woff2'),
       url('/fonts/cabin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  h1,h2 {
    font-family: 'sinkin_sans700_bold', sans-serif;
  }
  body {
    font-family: 'cabinregular', sans-serif;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */