@font-face {
  font-family: 'sinkin_sans700_bold';
  src: url('/fonts/sinkinsans-700bold-webfont.woff2') format('woff2'),
       url('/fonts/sinkinsans-700bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cabinregular';
  src: url('/fonts/cabin-regular-webfont.woff2') format('woff2'),
       url('/fonts/cabin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* General setup */

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'cabinregular', sans-serif;
  font-size: 2rem;
  line-height: 1.9;
  letter-spacing: 1px;
  word-spacing: 1px;
}
h1,h2 {
  font-family: 'sinkin_sans700_bold', sans-serif;
  font-weight: bolder;
  letter-spacing: 1.7px;
}
h1,h2 + p {
  text-indent: 20px;
}
h1 {
  font-size: 4rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
}
a {
  color: #a66;
}
a:focus {
  color: rgb(203, 24, 24);
  text-decoration: none;
  outline: none;
}
a:visited {
  color:rgb(121, 72, 72);
}
a:hover {
  color:rgb(49, 29, 29);
  text-decoration: none;
}
a:active {
  background-color: rgb(237, 186, 186);
}
nav ul {
  list-style-image: none;
  list-style-type: none;
  font-weight: bold;
}
nav li {
  text-align: center;
  border: 1px solid #a66;
  padding: 15px;
  margin-top: 20px;
}
nav li:hover {
  background-color: rgb(237, 186, 186);
}
nav a {
  text-decoration: none;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}



